*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* Colori */
    --light-blue: #B4D0E7;
    --blue-button: #0061FF;
    --black: black;
    --dark-lilla: #61082B;
    --lime-green:#A2D39B;
    --lime-green-light: #D1E9CD;
    --blue-box: #0093CE;
    --red: #FF1C1C;
    --dark-red:#D5001F;
    --dark-blue:#0D2481;
    --yellow:#FFD830;

}